.FREEZER {
  background-color: #f7dc6f;
  margin: 50px;
  border: 2px solid black;
  padding: 20px;
  text-align: left;
}

.headerClass {
  background-color: rgb(123, 192, 129);
  text-align: center;

}

.DRYGOODS {
  background-color: #a9df9c;
  margin: 50px;
  border: 2px solid black;
  padding: 20px;
  text-align: left;
}

.CANNEDGOODS {
  background-color: #f1948a;
  margin: 50px;
  border: 2px solid black;
  padding: 20px;
  text-align: left;
}


.pageheaderclass {
  color: rgb(123, 192, 129);
  text-align: center;
  background-color: black;
}

.images {
  border: 2px solid black;
  padding: 50px;
  text-align: center;
  grid-column:left;
}